<!DOCTYPE html>

<html lang="en">
  
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portifólio Livinha</title>
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel='stylesheet' href='../static/style.css'>
  <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  
</head>
  
<body>
  
  <script src='../static/bootstrap/js/bootstrap.bundle.min.js'></script>
  <script src='../static/script.js'></script>

  <aside id='header'>
    <section class='profile'>
      <img src='../static/img/perfil.png' alt='Minha foto'>
      <h1>Lívia Caroline</h1>
      <div class='social-links mt-4 text-center'>
        <a href='https://github.com/livinha11'>
          <i class='bi bi-github'></i>
        </a>
        <a href='https://instagram.com/livia_carolinerp'>
          <i class='bi bi-instagram'></i>
        </a>
        <a href='https://replit.com/@LiviaCaroline'>
          <i class='bi bi-journal-code'></i>
        </a>
      </div>
    </section>

    <nav id='navbar' class='nav-menu'>
      <ul class="nav flex-column">
        
        <li class="nav-item">
          <a class="nav-link" href="#inicio"><i class="bi bi-house"></i> Início</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#portifolio"><i class="bi bi-collection"></i> Portifólio</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
        </li>
      </ul>
    </nav>
  </aside>

  <main id='main'>
    <section id='inicio' class='row'>
      <div id='coluna-1' class='col-md 5'>
        <h2>Lívia Caroline</h2>
        <span>Aluna e pesquisadora</span>
      </div>
      <div id='coluna-2' class='col-md-7'>
        <div id='arraste'>
          <i class='bi bi-arrow-down' aria-hidden='true'></i>
          <a href=''>Arraste para saber mais</a>
        </div>
      </div>
    </section>
    <section id='sobre' class='container mt-5'>
      <div class="row w-100">
        <div class="col-md-12">
          <h2 class="pt-3" >Sobre</h2>
          <p>
          Nesta página apresento um pouco do meu trabalho e dos meus interesses dentro da área de Informática!
          </p>
        </div>
      </div>
      <div class='row mt-4'>
        
        <div class='col-md-4'>
          <img class='img-fluid' src='../static/img/perfil.png'>
        </div>
        
        <div class='col-md-8'>
          <h3>Aluna e Pesquisadora</h3>
          <p>Estou no terceiro ano do curso técnico de informática, com conhecimentos básicos de html, JavaScript e Python e saberes de principiante de Flutter</p>
          
          <div class='row mt-3 mb-3'>
            
            <div class="col-md-8">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">
                  Área: <span class="fw-lighter">Informática</span>
                </li>
                <li class="list-group-item">
                  Escola: <span class="fw-lighter">Instituto Federal de Minas Gerais</span>
                </li>
                <li class="list-group-item">
                  Campus: <span class="fw-lighter">Sabará</span>
                </li>
                <li class="list-group-item">
                  Residência: <span class="fw-lighter">Belo Horizonte</span>
                </li>
                <li class="list-group-item">
                  Estado: <span class="fw-lighter">Minas Gerais</span>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </section>
    <section id='habilidades' class='mt-5 section-bg'>
      <div class='container pb-5'>
        <h2 class='pt-5'>Habilidades</h2>
        <p>Nesta seção apresento um pouco dos conhecimentos que possuo na área e outros relacionamentos.</p>

        <div class='row'>
          
          <div class='col-md-6'>
            <p clas='mt-3 mb-0'>HTML</p>
            <div class='progress'>
              <div class='progress-bar progress-bar-striped progress-bar-animated' role='progressbar' style='width:95%;' aria-valuenow='95' data-anime='left' aria-valuemin='0' aria-valuemax='100'>95%</div>
            </div>
          </div>

          <div class='col-md-6'>
            <p clas='mt-3 mb-0'>CSS</p>
            <div class='progress'>
              <div class='progress-bar progress-bar-striped bg-info progress-bar-animated' role='progressbar' style='width:95%;' aria-valuenow='95' data-anime='left' aria-valuemin='0' aria-valuemax='100'>95%</div>
            </div>
          </div>

          <div class='col-md-6'>
            <p clas='mt-3 mb-0'>Java Script</p>
            <div class='progress'>
              <div class='progress-bar progress-bar-striped bg-danger progress-bar-animated' role='progressbar' style='width:80%;' aria-valuenow='80' data-anime='left' aria-valuemin='0' aria-valuemax='100'>80%</div>
            </div>
          </div>

          <div class='col-md-6'>
            <p clas='mt-3 mb-0'>Python</p>
            <div class='progress'>
              <div class='progress-bar progress-bar-striped bg-warning progress-bar-animated' role='progressbar' style='width:85%;' aria-valuenow='85' data-anime='left' aria-valuemin='0' aria-valuemax='100'>85%</div>
            </div>
          </div>

          <div class='col-md-6'>
            <p clas='mt-3 mb-0'>Flutter</p>
            <div class='progress'>
              <div class='progress-bar progress-bar-striped bg-success progress-bar-animated' role='progressbar' style='width:55%;' aria-valuenow='55' data-anime='left' aria-valuemin='0' aria-valuemax='100'>55%</div>
            </div>
          </div>

          <div class='col-md-6'>
            <p clas='mt-3 mb-0'>SQL</p>
            <div class='progress'>
              <div class='progress-bar progress-bar-striped progress-bar-animated' role='progressbar' style='width:80%;' aria-valuenow='80' data-anime='left' aria-valuemin='0' aria-valuemax='100'>0%</div>
            </div>
          </div>
          
          <div class='col-md-6'></div>
          
        </div>
        <hr class='w-50 me-auto ms-auto'>

        <div class='row'></div>

        
      </div>
    </section>
    <section id='curriculo' class='mt-5 cv'>
      <div class="container pb-5">
        <h2 class="pt-3 pb-4">Currículo</h2>
        <div class="row">
          <div class="col-md-6">
            <h3 class="cv-title">Educação</h3>
              <div class='cv-item'>
                <h4>Técnica em Informática</h4>
                <h5>2021-2023</h5>
                <p><em>Instituto Federal de Minas Gerais</em></p>
                <p>Pesquisa em Racismo Ambiental</p>
                <p>
                  Desenvolvimento de aplicativo no Projetec
                  voltado para o atendimento dos bombeiros 
                  intitulado SEAB: Serviço de Emergência e Atendimento dos Bombeiros
                </p>
                <p>
                  Pesquisa acerca da Base Nacional Comum Curricular
                </p>
              </div>
          </div>
          <div class="col-md-6"> 
          </div>
        </div>
      </div>
    </section>
    <section id="portifolio" class="section-bg mt-5">
      <div class="container pb-5 pt-5">
        <h2 class="pb-4">Portifólio</h2>
        <div id="carouselPortifolio" class="carousel carousel-dark slide" data-bs-ride="carousel">

          <ol class="carousel-indicators">
            <li type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></li>
            <li type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="1"
              aria-label="Slide 2"></li>
            <li type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="2"
              aria-label="Slide 3"></li>
            <li type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="3"
              aria-label="Slide 4"></li>
            <li type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="4"
              aria-label="Slide 5"></li>
          </ol>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card carta">
                    <img src="../static/img/bird.png" width='100px' height="100px" class="card-img-top img-fluid w-100"
                      alt="flappy bird">
                    <div class="card-body">
                      <h5 class="card-title">Flappy Bird</h5>
                      <p class="card-text">Jogo desenvolvido no ano de 2022 baseado em Flappy Bird</p>
                      <div class="d-flex justify-content-center">
                        <a href="https://github.com/livinha11/flappy-bird"
                          target='_blank' class="btn btn-outline-dark me-3">
                          <i class="bi bi-github"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card carta">
                    <img src="../static/img/logo_mec.jpg" width='100px' height="100px" class=" card-img-top img-fluid w-100"
                      alt="carta ao mec">
                    <div class="card-body">
                      <h5 class="card-title">Carta ao MEC</h5>
                      <p class="card-text">Carta Aberta escrita ao Ministério da Educação com críticas ao Novo Ensino Médio</p>
                      <div class="d-flex justify-content-center">
                        <a href="https://drive.google.com/file/d/1TRRKRF5nESyBRA8eZHv8wGW-6m7VsKyX/view?usp=sharing"
                          target='_blank' class="btn btn-outline-dark me-3">
                          <i class="bi bi-google"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card carta">
                    <img src="../static/img/marvel.jpg" width='100px' height="100px" class="card-img-top img-fluid w-100"
                      alt="marvel">
                    <div class="card-body">
                      <h5 class="card-title">Site da Marvel</h5>
                      <p class="card-text">Site desenvolvido no início do curso com curiosidades sobre o Universo Cinematográfico da Marvel</p>
                      <div class="d-flex justify-content-center">
                        <a href="https://github.com/livinha11/marvel"
                          target='_blank' class="btn btn-outline-dark me-3">
                          <i class="bi bi-github"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card carta">
                    <img src="../static/img/candy.jpeg" width='100px' height="100px" class="card-img-top img-fluid w-100"
                      alt="candy rush">
                    <div class="card-body">
                      <h5 class="card-title">Candy Rush</h5>
                      <p class="card-text">Jogo desenvolvido como trabalho de conclusão de 2023 com inspiração em Candy Crush e Super Mario</p>
                      <div class="d-flex justify-content-center">
                        <a href="https://github.com/livinha11/candy-rush"
                          target='_blank' class="btn btn-outline-dark me-3">
                          <i class="bi bi-github"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card carta">
                    <img src="../static/img/bombeiros.jpg" width='100px' height="100px" class="card-img-top img-fluid w-100"
                      alt="projetec">
                    <div class="card-body">
                      <h5 class="card-title">Sistema de Emergência e Atendimento dos Bombeiros</h5>
                      <p class="card-text">Site sobre projeto desenvolvido como Projeto de Conclusão do Curso Técnico em Informática</p>
                      <div class="d-flex justify-content-center">
                        <a href="https://replit.com/@LiviaCaroline/Projetec"
                          target='_blank' class="btn btn-outline-dark me-3">
                          <i class="bi bi-google"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortifolio"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
            
          <button class="carousel-control-next" type="button" data-bs-target="#carouselPortifolio"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      
    </section>
    <section id='contato' class='pt-5 pb-5'>
      <div class="container mb-5">
        <h2 class='pt-3 pb-3'>Contato</h2>

        <div class='row'>
          <div class='col-md-5'>
            <div class='card p-5 shadow border-0'>
              <div class='endereco'>
                <h4><i class='bi bi-geo-alt'></i> Localização:</h4>
                <p>Belo Horizonte, MG</p>
              </div>
              <div class='email'>
                <h4><i class='bi bi-envelope'></i> Email:</h4>
                <p>liviacaroline456@gmail.com</p>
              </div>
  
              <iframe class='w-100'
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3751.24455987574!2d-43.9030894!3d-19.9140965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa69bd250b2b023%3A0xb0d1b8b6aae0a180!2sR.%20Furquim%20-%20Pomp%C3%A9ia%2C%20Belo%20Horizonte%20-%20MG%2C%2030280-490!5e0!3m2!1spt-BR!2sbr!4v1703725768146!5m2!1spt-BR!2sbr" 
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
              </iframe>
            </div>
          </div>

          <div class='col-md-7'>
            <div class='card p-5 h-100 shadow border-0'>

              <form class='row g-3'>
                <div class='col-md-6'>
                  <label for='nome' class='form-label'>Nome:</label>
                  <input type='text' class='form-control' id='nome' name='nome'
                    placeholder='Digite seu nome' required>
                </div>
                <div class='col-md-6'>
                  <label for='email' class='form-label'>Email:</label>
                  <input type='email' class='form-control' id='email' name='email'
                    placeholder='Digite seu email' required>
                </div>

                <div class='col-md-6'>
                  <label for='mensagem' class='form-label'>Mensagem:</label>
                  <input type='text' class='form-control' id='mensagem' name='mensagem'
                    placeholder='Digite sua mensagem' required>
                </div>

                <div class='col-12 d-flex justify-content-center mt-4'>
                  <button id='btn-enviar' type='submit' class='btn btn-primary'>Enviar mensagem</button>
                </div>
              </form>

            </div>
          </div>

        </div>

      </div>
    </section>
  </main>
  
</body>
</html>